body {
    background: rgb(250, 231, 127);
    align-items: center;
    margin: 90px;
}


table {
    margin: auto;
    top: 90px;
    background: white;
    border: 25px groove burlywood;
}

.light-cell {
    background: rgb(212, 86, 32);
    width: 70px;
    height: 70px;
    align-items: center;
}
.black-cell {
    background: rgb(84, 34, 3);
    width: 70px;
    height: 70px;
    align-items: center;
}

.selected {
    background: rgb(197, 197, 83);
}

.possible-move {
    background: rgb(221, 142, 46);
}
#chessboard{
    border: none;
}

img{
   align-content: center;
}