body {
  background: rgb(250, 231, 187);
}

h1 {
font-size: 25px;
font-family: sans-serif;
align-content: center;
position: relative;
left: 750px;
}

#chessboard {
    padding: 0px;
    padding-top: 20px;
    margin: auto;
    border: 15px groove chocolate;
    border-collapse: collapse;
    
  }

  #chessboard tr td {
    background: white;
    width: 85px;
    height: 85px;
   
  }

  #chessboard tr:nth-child(2n) td:nth-child(2n+1) {
    background: #9f9f9f;
  }

  #chessboard tr:nth-child(2n+1) td:nth-child(2n) {
    background: #9f9f9f;
  }

  #chessboard .king.black:after {
    content: "\265A";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .king.white:after {
    content: "\2654";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .queen.black:after {
    content: "\265B";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .queen.white:after {
    content: "\2655";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .rook.black:after {
    content: "\265C";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .rook.white:after {
    content: "\2656";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .bishop.black:after {
    content: "\265D";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .bishop.white:after {
    content: "\2657";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .knight.black:after {
    content: "\265E";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .knight.white:after {
    content: "\2658";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }

  #chessboard .pawn.black:after {
    content: "\265F";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }
  
  #chessboard .pawn.white:after {
    content: "\2659";
    font-size: 50px;
    padding-left: 17px;
    line-height: 30px;
    align-items: center;
  }
 
  .selectedCell{
    background: rgb(197,197,83);
  }
  
  p{
    font-family: sans-serif ;
    font-size: 15px;
    position: absolute;
    bottom: 50px;
  }